notebook/gym_retention_Agent.json
{
  "name": "Fitness_Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "c34f2eb5-52ec-417d-af51-1a68d9022203",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw",
          "mode": "list",
          "cachedResultName": "AI Fitness dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 180576203,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit#gid=180576203"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -16
      ],
      "id": "4b3e744a-47cc-46d5-a7b6-b961362b0f36",
      "name": "Members",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYZccgyTMFlvA9PD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw",
          "mode": "list",
          "cachedResultName": "AI Fitness dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731136416,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit#gid=1731136416"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "MemberID": "={{ $('Edit Fields2').item.json.MemberID }}",
            "Category": "={{ $('Edit Fields2').item.json.Category }}",
            "Message": "={{ $json.output }}",
            "Name": "={{ $('Edit Fields2').item.json.Name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MemberID",
              "displayName": "MemberID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        256
      ],
      "id": "27b84fc5-2662-4ded-ba32-7be8747178eb",
      "name": "Logs",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYZccgyTMFlvA9PD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d816c344-3311-4493-9d8a-51f0de39061b",
              "name": "MemberID",
              "value": "={{ $json.MemberID }}",
              "type": "number"
            },
            {
              "id": "913d65d8-f836-42e6-b829-009b041a0872",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "55ae1741-a750-45a7-85c3-955fb1b759e6",
              "name": "Age",
              "value": "={{ $json.Age }}",
              "type": "number"
            },
            {
              "id": "937011e6-e46f-4b3b-9096-66da48589ad9",
              "name": "Gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            },
            {
              "id": "adaad9c8-8304-4b69-8e32-75345eecb94d",
              "name": "Attendance",
              "value": "={{ $json.Attendance_W4 }}",
              "type": "number"
            },
            {
              "id": "04960087-1ad2-483c-8d66-325b3ed77352",
              "name": "Goal",
              "value": "={{ $json.Goal }}",
              "type": "string"
            },
            {
              "id": "18093091-2b72-4b0c-b297-c222f47d1bd6",
              "name": "Tone",
              "value": "={{ $json.Tone }}",
              "type": "string"
            },
            {
              "id": "7b6735da-d23c-4a55-ba23-1f924bcb752f",
              "name": "Category",
              "value": "=New Member",
              "type": "string"
            },
            {
              "id": "52511925-0a45-4c8f-bfb6-08af2217e35d",
              "name": "Preferred_Workout",
              "value": "={{ $json.Preferred_Workout }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -336
      ],
      "id": "2736d7ee-2d1d-42b0-aeae-cf90ae0c22b1",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1d47d40-ba49-4db6-9220-ded81f0c4d34",
              "name": "MemberID",
              "value": "={{ $json.MemberID }}",
              "type": "number"
            },
            {
              "id": "9f63a214-62d1-46e5-91c2-483735255c2d",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "f95ed4f6-551e-492c-9e4f-b2ffd804a81e",
              "name": "Attendance",
              "value": "={{ $json.Attendance_W4 }}",
              "type": "number"
            },
            {
              "id": "fef6f55b-605b-4714-8fdc-284ce13a6ed5",
              "name": "Category",
              "value": "Low Attendance",
              "type": "string"
            },
            {
              "id": "fffede02-a2c0-4bd5-a2ff-962d199a78bd",
              "name": "Tone",
              "value": "={{ $json.Tone }}",
              "type": "string"
            },
            {
              "id": "d8bd4199-177b-4e13-aaad-7764ec3807eb",
              "name": "Preferred_Workout",
              "value": "={{ $json.Preferred_Workout }}",
              "type": "string"
            },
            {
              "id": "b100043c-4d2a-48a9-b54e-17fe4d246ec2",
              "name": "Age",
              "value": "={{ $json.Age }}",
              "type": "number"
            },
            {
              "id": "13773adc-4b24-4cc1-9e5c-24ad69b8b9aa",
              "name": "Gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            },
            {
              "id": "c2eb67d2-c984-4561-9f0b-5b6be3b61092",
              "name": "Goal",
              "value": "={{ $json.Goal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -192
      ],
      "id": "0b0ba6f6-c27c-47a5-ad5e-1c64cb90654d",
      "name": "Edit Fields1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6842b8fc-893b-49e5-a00c-7c11abda898c",
              "name": "MemberID",
              "value": "={{ $json.MemberID }}",
              "type": "number"
            },
            {
              "id": "bc8dd97e-3aca-4aaf-8ac9-19c16ec07b90",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "623235c3-dda9-4956-8f06-65ca00692f61",
              "name": "Attendance",
              "value": "={{ $json.Attendance_W4 }}",
              "type": "number"
            },
            {
              "id": "f23eebd7-8f37-4562-82dd-c937446bbb75",
              "name": "Category",
              "value": "High Attendance",
              "type": "string"
            },
            {
              "id": "50b6a741-9133-4cc8-9f00-f58b16fe4e85",
              "name": "Tone",
              "value": "={{ $json.Tone }}",
              "type": "string"
            },
            {
              "id": "90e16c4f-f136-4b3c-aea6-468677169da7",
              "name": "Preferred_Workout",
              "value": "={{ $json.Preferred_Workout }}",
              "type": "string"
            },
            {
              "id": "e88bb692-2912-4dd3-8a35-81ebe058af7e",
              "name": "Age",
              "value": "={{ $json.Age }}",
              "type": "number"
            },
            {
              "id": "3ed0288d-7d88-4e46-948c-71f30aba18bd",
              "name": "Gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            },
            {
              "id": "cd588509-2cdc-4f94-bc44-b3bf35bfab82",
              "name": "Goal",
              "value": "={{ $json.Goal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        256
      ],
      "id": "69a05dc0-d5bb-44dd-83e0-b5f9e0b24f8d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0728fc7-2e63-4ab7-bf81-e348322b4be1",
              "leftValue": "={{ $json.New_or_Old }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        -240
      ],
      "id": "adcc73f9-8eec-4caf-8a65-b89bb463f01e",
      "name": "New Member",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "467233d5-5060-4e63-8197-73a7ffa16594",
              "leftValue": "={{ $json.Attendance_W4 }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "6e470c97-4fb5-4f42-b889-0843ad011d7b",
              "leftValue": "={{ $json.New_or_Old }}",
              "rightValue": "Old",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -16
      ],
      "id": "d4cebc54-9e64-4c9d-b813-bf4fd8528461",
      "name": "Low Attendance",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "6ebc503f-285b-4696-8c8e-0543dfa73108",
              "leftValue": "={{ $json.Attendance_W4 }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "90a7385b-454a-4069-b417-68daeadbd6c8",
              "leftValue": "={{ $json.New_or_Old }}",
              "rightValue": "Old",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        752,
        256
      ],
      "id": "fe0beca4-1d3f-4daa-9893-9c370d0c054b",
      "name": "High Attendance",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.MemberID }}",
        "contextWindowLength": 0
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        -400
      ],
      "id": "7289129c-f1e2-4077-ad73-a75310987253",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        -416
      ],
      "id": "256bd999-7f1d-47ae-a2c4-f93702fc97de",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "g4E3Qmf0tAQ8IYrU",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        976,
        48
      ],
      "id": "5c4f6a1e-a865-4281-99a9-94b7a746d1e9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "g4E3Qmf0tAQ8IYrU",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.MemberID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1152,
        48
      ],
      "id": "6c1345a7-84ce-4bc4-9ff1-17c226ec31fd",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        480
      ],
      "id": "d383e48c-2c86-4156-a3b7-03c4bf54c9b7",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "g4E3Qmf0tAQ8IYrU",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.MemberID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1472,
        496
      ],
      "id": "78aab8a0-eee6-4909-967e-51facbc9d816",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "from": "+19036237111",
        "to": "+96176916614",
        "message": "={{ $json.Message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1872,
        256
      ],
      "id": "157b34b2-c5aa-445a-94b3-0a6bda10821c",
      "name": "Send an SMS",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "twilioApi": {
          "id": "pdoq5RXRTrghM1AH",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+19036237111",
        "to": "+96176916614",
        "message": "={{ $json.Message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1600,
        -208
      ],
      "id": "2c9c0519-7e69-411d-812d-ac5fc379553d",
      "name": "Send an SMS1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "twilioApi": {
          "id": "pdoq5RXRTrghM1AH",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+19036237111",
        "to": "+96176916614",
        "message": "={{ $json.Message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1712,
        -624
      ],
      "id": "2cc40646-6df6-4c41-aee3-a079dcaf45a5",
      "name": "Send an SMS3",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "twilioApi": {
          "id": "pdoq5RXRTrghM1AH",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw",
          "mode": "list",
          "cachedResultName": "AI Fitness dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731136416,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit#gid=1731136416"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "MemberID": "={{ $('Edit Fields').item.json.MemberID }}",
            "Message": "={{ $json.output }}",
            "Name": "={{ $('Edit Fields').item.json.Name }}",
            "Category": "={{ $('Edit Fields').item.json.Category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MemberID",
              "displayName": "MemberID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -608
      ],
      "id": "feabecc6-4b18-41a9-a9e4-c657f74f0bc6",
      "name": "Messages Log",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYZccgyTMFlvA9PD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw",
          "mode": "list",
          "cachedResultName": "AI Fitness dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731136416,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit#gid=1731136416"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "MemberID": "={{ $('Edit Fields1').item.json.MemberID }}",
            "Category": "={{ $('Edit Fields1').item.json.Category }}",
            "Message": "={{ $json.output }}",
            "Name": "={{ $('Edit Fields1').item.json.Name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MemberID",
              "displayName": "MemberID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -208
      ],
      "id": "fd59c3c8-5ca9-4479-9c23-df0fcb65d7f3",
      "name": "Messages Log2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYZccgyTMFlvA9PD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a warm, welcoming message for a new gym member, after having completed their first month. Make it personal and motivating based on their fitness goal and preferred workout style. Use their preferred communication tone. Keep it friendly and encouraging - this is their first impression of our gym community! Make it brief (gym marketing retention for Trainup Gym) {{ $json.Name }} {{ $json.Age }} {{ $json.Gender }} {{ $json.Attendance }} {{ $json.Goal }} {{ $json.Tone }} {{ $json.Category }} {{ $json.Preferred_Workout }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        752,
        -624
      ],
      "id": "f6b9b0fa-f746-4cfa-bd9b-aad84e86e518",
      "name": "Send a message for New Members",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a supportive re-engagement message (for Trainup Gym marketing retention) for a gym member with low attendance (less than 2 sessions this week). Be understanding and encouraging, not pushy. Offer specific motivation based on their fitness goal and suggest their preferred workout. Use their preferred communication tone. Don't talk too much, make it brief and human. {{ $json.Name }} {{ $json.Age }} {{ $json.Gender }} {{ $json.Attendance }} {{ $json.Goal }} {{ $json.Tone }} {{ $json.Category }} {{ $json.Preferred_Workout }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1040,
        -192
      ],
      "id": "ea83ce36-3db7-4587-a12f-f15995694ffc",
      "name": "Send a message for Low Attendance",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a congratulatory and motivational message for a gym member who has excellent attendance this week. Celebrate their dedication and offer rewards or special promotions to keep them motivated. Make it personal using their details. Keep it brief (for Trainup Gym marketing retention) \n{{ $json.Name }} {{ $json.Age }} {{ $json.Gender }} {{ $json.Attendance }} {{ $json.Goal }} {{ $json.Tone }} {{ $json.Category }} {{ $json.Preferred_Workout }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1328,
        256
      ],
      "id": "3a86aec2-4b13-4358-9972-1fbd10c243e0",
      "name": "Send a message for High Attendance",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6842b8fc-893b-49e5-a00c-7c11abda898c",
              "name": "MemberID",
              "value": "={{ $json.MemberID }}",
              "type": "number"
            },
            {
              "id": "bc8dd97e-3aca-4aaf-8ac9-19c16ec07b90",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "623235c3-dda9-4956-8f06-65ca00692f61",
              "name": "Attendance",
              "value": "={{ $json.Attendance_W4 }}",
              "type": "number"
            },
            {
              "id": "50b6a741-9133-4cc8-9f00-f58b16fe4e85",
              "name": "Tone",
              "value": "={{ $json.Tone }}",
              "type": "string"
            },
            {
              "id": "90e16c4f-f136-4b3c-aea6-468677169da7",
              "name": "Preferred_Workout",
              "value": "={{ $json.Preferred_Workout }}",
              "type": "string"
            },
            {
              "id": "e88bb692-2912-4dd3-8a35-81ebe058af7e",
              "name": "Age",
              "value": "={{ $json.Age }}",
              "type": "number"
            },
            {
              "id": "3ed0288d-7d88-4e46-948c-71f30aba18bd",
              "name": "Gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            },
            {
              "id": "b8af131c-7def-4fff-b597-a315b838b6e1",
              "name": "Category",
              "value": "Birthday",
              "type": "string"
            },
            {
              "id": "cd588509-2cdc-4f94-bc44-b3bf35bfab82",
              "name": "Goal",
              "value": "={{ $json.Goal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        464
      ],
      "id": "69515237-da9e-41c1-a30a-7c6888a9deba",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "392281a6-3b2b-4032-92e4-65d22860a79e",
              "leftValue": "={{ $json.Birthday.toDateTime().day }}",
              "rightValue": "={{ $now.toDateTime().day }}\n",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "136341b8-5205-4ec1-9680-d5a9e1934fc2",
              "leftValue": "={{ $json.Birthday.toDateTime().month }}",
              "rightValue": "={{ $now.toDateTime().month }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        368
      ],
      "id": "85f89815-37ee-4d4b-b51e-090201449d4a",
      "name": "Birthday",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a birthday WhatsApp message for a gym member whose birthday is today.  Offer rewards or special promotions. Keep it brief (for Trainup Gym marketing retention) \n{{ $json.Name }} {{ $json.Age }} {{ $json.Gender }} {{ $json.Attendance }} {{ $json.Goal }} {{ $json.Tone }} {{ $json.Category }} {{ $json.Preferred_Workout }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        896,
        496
      ],
      "id": "7124ef88-e98e-4583-9b48-0518e73a94d8",
      "name": "Send a Birthday message",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        720
      ],
      "id": "a6e95047-21fb-4802-a0e0-c2d16e933021",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "g4E3Qmf0tAQ8IYrU",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.MemberID }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        704
      ],
      "id": "0fffaab9-5bb8-44f1-ac8d-bfc1af7309ac",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw",
          "mode": "list",
          "cachedResultName": "AI Fitness dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1731136416,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14OTvM4RLuj-kjY0bTJF5eN1_kl_MYE0tSev1dgNfjnw/edit#gid=1731136416"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "MemberID": "={{ $('Edit Fields3').item.json.MemberID }}",
            "Category": "={{ $('Edit Fields3').item.json.Category }}",
            "Name": "={{ $('Edit Fields3').item.json.Name }}",
            "Message": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MemberID",
              "displayName": "MemberID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        656
      ],
      "id": "eb96b9ce-6a66-4416-94e0-330be6b97ec6",
      "name": "Logs1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYZccgyTMFlvA9PD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "from": "+19036237111",
        "to": "+96176916614",
        "message": "={{ $json.Message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1520,
        656
      ],
      "id": "d2fc9ef0-803c-47c7-be3b-760ce1360678",
      "name": "Send an SMS2",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "twilioApi": {
          "id": "pdoq5RXRTrghM1AH",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Members": {
      "main": [
        [
          {
            "node": "New Member",
            "type": "main",
            "index": 0
          },
          {
            "node": "Low Attendance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Birthday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Member": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low Attendance": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "High Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Attendance": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message for New Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message for Low Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a message for High Attendance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs": {
      "main": [
        [
          {
            "node": "Send an SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Send a message for New Members",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Send a message for New Members",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Send a message for Low Attendance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Send a message for Low Attendance",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Send a message for High Attendance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Send a message for High Attendance",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS": {
      "main": [
        []
      ]
    },
    "Messages Log": {
      "main": [
        [
          {
            "node": "Send an SMS3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages Log2": {
      "main": [
        [
          {
            "node": "Send an SMS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message for New Members": {
      "main": [
        [
          {
            "node": "Messages Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message for Low Attendance": {
      "main": [
        [
          {
            "node": "Messages Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message for High Attendance": {
      "main": [
        [
          {
            "node": "Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a Birthday message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Birthday": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Send a Birthday message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Send a Birthday message",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a Birthday message": {
      "main": [
        [
          {
            "node": "Logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logs1": {
      "main": [
        [
          {
            "node": "Send an SMS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df5e4d03-702f-4a0e-ace0-86d96f9c41a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d6522a06284bcd44805471f4842f8f826c221877a84159e1c9c91e33277ec91"
  },
  "id": "sL4XwNz8gtgmQjkY",
  "tags": []
}